<div class="row-fluid">
    <div>
        <span>Species</span>
        <div class="form-check form-check-inline" ng-repeat="species_name in species_names">
            <input class="form-check-input" type="checkbox" id="species_checkbox_{{species_name}}"
                   ng-checked="is_filter_by_species_name(species_name)"
                   ng-click="toggle_species_name_filter(species_name)"
            >
            <label class="form-check-label" for="species_checkbox_{{species_name}}">{{species_name}}</label>
        </div>
    </div>
    <div>
        <span>Breed</span>
        <div class="form-check form-check-inline" ng-repeat="breed_name in breed_names">
            <input class="form-check-input" type="checkbox" id="breed_checkbox_{{breed_name}}"
                   ng-checked="is_filter_by_breed_name(breed_name)"
                   ng-click="toggle_breed_name_filter(breed_name)"
            >
            <label class="form-check-label" for="breed_checkbox_{{breed_name}}">{{breed_name}}</label>
        </div>
    </div>
    <div>
        <span>Price</span>
        <div>
            <rzslider rz-slider-model="filter.min_price"
                      rz-slider-high="filter.max_price"
                      rz-slider-options="price_slider_options">
            </rzslider>
        </div>
    </div>
</div>
