<div class="form-group">
  <label for="{{ mode + '__email' }}">Email</label>
  <input type="email" class="form-control" id="{{ mode + '__email' }}" ng-model="email" placeholder="ex. john@sample.com" />
</div>

<div class="form-group">
  <label for="{{ mode + '__first_name' }}">First name</label>
  <input type="text" class="form-control" id="{{ mode + '__first_name' }}" ng-model="firstName" placeholder="ex. John" />
</div>

<div class="form-group">
  <label for="{{ mode + '__last_name' }}">Last name</label>
  <input type="text" class="form-control" id="{{ mode + '__last_name' }}" ng-model="lastName" placeholder="ex. Doe" />
</div>

<div class="form-group">
  <label for="{{ mode + '__phone_number' }}">Phone number</label>
  <input type="text" class="form-control" id="{{ mode + '__phone_number' }}" ng-model="phoneNumber" placeholder="ex. +1 555 123 4567" />
</div>

<div class="form-group">
  <label for="{{ mode + '__password' }}">Password</label>
  <input type="password" class="form-control" id="{{ mode + '__password' }}" ng-model="password" />
</div>

<div class="form-group">
  <label for="{{ mode + '__confirm_password' }}">Password</label>
  <input type="password" class="form-control" id="{{ mode + '__confirm_password' }}" ng-model="confirmPassword" />
</div>
