::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #E8E8E8;
    font-style: italic;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #E8E8E8;
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #E8E8E8;
    font-style: italic;
}